.box1{
    background-color: #e0ffff;
}
.box2{
    background-color: #b2ffff;
}
.box3{
    background-color: #b2f2ff;
}
.box4{
    background-color: #a4f4f9;
}
.box5{
    background-color: #7df9ff;
}
.box6{
    background-color: #00ffef;
}
.box7{
    background-color: #00ced1;
}
.box8{
    background-color: #80daeb;
}
.box9{
    background-color: #008b8b;
}
.box10{
    background-color: #b0e0e6;
}
.box11{
    background-color: #0abab5;
}
.box12{
    background-color: #a6e7ff;
}